body {
    height: 100vh;
    font-family:monospace;
}
.container {
    border: 2px solid black;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    justify-self: center;
    background-color: lightgrey;
}

.bottom {
    display: flex;
    gap: 4px;
}

.numbers {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 2;
}

.operations {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 4px;
}

button {
    width: 100px;
    height: 100px;
    font-size: 44px;
    font-weight: 550;
}

.button-on-hover {
    width: 105px;
    height: 105px;
    font-size: 44px;
    font-weight: 550;
}

.answer,
input {
    margin: 4px;
    padding: 4px;
    border: 2px solid black;
    width: 400px;
    height: 42px;
    font-size: 32px;
    text-align: right;
    text-align: end;
    background-color: rgb(225, 223, 223);
}

.number,
.dot {
    background-color: white;
}

.operation {
    background-color: rgb(236, 91, 91);
}

.operation.equal-to {
    background-color: rgb(242, 242, 131);
}

.clear-button {
    background-color: rgb(75, 127, 210);
}
